.images {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    
    .card {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}

@media screen and(min-width: 687px) {
    .images {
        grid-template-columns: repeat(2,1fr);
        margin: 40px;
        
        .card {
            width: 100%;
            margin: unset;
            max-width: unset;
        }
    }
    
    // buttons for changing the layout of images - only available from this screensize and up, not on mobile devices
    nav {
        button {
            display: inline-block;
        }
    }
    // If the user decides to change the layout to be a list. Again, only visible from this screensize and up, no mobile devices.
    body.list {
        .images {
            grid-template-columns: repeat(1,1fr);
        }
    }
}

@media screen and(min-width: 850px) {
    .images {
        grid-template-columns: repeat(3,1fr);
    }
    
    
}

@media screen and(min-width: 1150px) {
    .images {
        grid-template-columns: repeat(3,1fr);
        margin: 0 auto;
    }
}

