

.card {
    // width: 500px;
    width: 90%;
    max-width: 500px;
    overflow: hidden;
    background-color: whitesmoke;
    margin: 40px auto 0;

    .image {
        width: 100%;
    }

    .text-content {
        padding: 10px 15px;

        .line-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .avatar-username-container {
                display: flex;
                align-items: center;
        
                .avatar {
                    border-radius: 50%;
                    width: 33px;
                    height: 33px;
                }
        
                .username {
                    font-weight: bold;
                    padding-left: 10px;
                }
            }
        }

        .links {
            display: flex; //maybe make this grid ?
            justify-content: space-between;

            padding:20px 0 10px 10px;

            a, span {
                margin-right: 10px;
            }

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    text-decoration: underline;
                }
            }

            span.unavailable {
                opacity: 0.5;

                &:hover {
                    text-decoration: none;
                    cursor:default;
                }
            }
        }
    }


}