.lightbox {
    display: none;
}

body.lightbox-on {
    overflow: hidden;
    
    .lightbox {
        display: block;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        text-align: center;
        
        .lightbox-image-container {
            height: 100%;
            // margin-top: 5%;
            // padding: 20%;
            #lightbox-image {
                padding: 60px;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}